.container {
  .list-container {
    .notice {
      position: absolute;
      top: 16px;
      right: 0;
      background-color: #ebebeb;
      padding: 30px;

      &.notice-warning {
        border-left: 5px solid #8f130c;
      }
    }
  }
}

