.addAlbums{
    display: flex;
    flex-direction: column;
    align-items: center;    
}

.form-group {
    padding: 2rem;
}

.addAlbums-input{
    width: 30rem;
}

.edit-img{
    margin-top: 10px;
}

