.navbar {
  background-color: $color--page;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 20%;
  top: 0;
  left: 0;
  z-index: 3;
  .logo {

  }
  .link-wrapper {
    padding-left: 10px;
    .btn {
      font-size: 1.5rem;
      padding: .8rem;
      width: 20rem;
      background-color: #262628;
      border: 1px solid #262626;
      &:hover {
        background-color: #4d4d4d;
      }
      span {
        padding-left: 10px;
      }
    }
    .edit-text {
      font-size: 1.25rem;
      padding: 10px 10px 0;
      font-weight: 300;
    }
  }
}



