@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;600;700&display=swap');

$font--default: 'Montserrat', sans-serif;

$color--writing: #d9d9d9;
$color--writing-dark: #8f8f8f;
$color--page: #262626;
$color--page-lighter: #4d4d4d;
